@model Bookfinder.Models.Dashboard
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
         
        </dd>
    </dl>
    <p>Total de livros: @Model.TotalBooks</p>
    <p>Já lidos: @Model.TotReadedBooks</p>
    <p>
        <strong>Progresso:</strong>
        <div class="progress-bar">
            <div class="progress-bar" role="progressbar" style="width: @Model.Progress%;">@Model.Progress%</div>
        </div>
    </p>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
