@model Bookfinder.Models.Dashboard

@{
    ViewData["Title"] = "Home Page";
}

<div class="column text-center">
    <h1 class="display-4">Total de livros: @Model.TotalBooks</h1>
    <h1 class="display-4">Livros Lidos : @Model.TotReadedBooks</h1>
    <h1 class="display-4">Seu progresso: @Model.Progress %</h1>

</div>
