@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Projeto CRUD com C#</h1>
        <p class="lead">Uma aplicação de exemplo desenvolvida como projeto acadêmico.</p>
        <hr class="my-4">
        <p>Esta aplicação demonstra o uso de ASP.NET MVC de um CRUD (Create, Read, Update, Delete) básico.</p>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <h2>Integrantes da Equipe</h2>
            <ul class="list-group">
                <li class="list-group-item">Maike da Silva Castilho</li>
                <li class="list-group-item">Pablo Candido Pereira</li>
                <li class="list-group-item">Ronald Luigi Galvão</li>
                <li class="list-group-item">Thiago Peixoto dos Santos </li>

                <!-- Adicione mais integrantes conforme necessário -->

            </ul>
        </div>
        <div class="col-md-6">
            <h2>Informações do Repositório</h2>
            <p><strong>Repositório:</strong> <a href="https://github.com/usuario/repositorio" target="_blank">https://github.com/usuario/repositorio</a></p>
            <p><strong>Descrição:</strong> O código fonte do projeto está disponível no GitHub. Sinta-se à vontade para explorar e contribuir.</p>
        </div>
    </div>
</div>