@model Bookfinder.Models.Book

@{
    ViewData["Title"] = "Delete Book";
}

<h2>Deletar livro</h2>

<h3>Você tem certeza que deseja apagar este livro ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
            <h4>@Model.Title</h4>

        </dt>
        
        <!-- Outros campos relevantes -->
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger"/>|
        <a asp-action="Index">Voltar para biblioteca</a>
    </form>
</div>